#ignore these
*
!*/

#track these
!.gitignore
!.here
!reports/*/*.qmd
!src/*/*.R
!src/*.R
!scripts/*/*.R
!scripts/*.R
!*.Rproj
!data/metadata/rrbs_metadata.csv
!data/metadata/annotated_perm_intestine44_age.tsv
!data/metadata/gencode.v44.annotation.gtf.gz
!data/metadata/gencode.vM25.annotation.gtf.gz
!data/chainfiles/*.gz
.Rproj.user

